.mainLogin{
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    /* background-color: rgb(255, 210, 210); */
    min-height: 100vh !important;
    padding: 0 5% !important;
}

.custom-card-action-area{
    max-width: 40% !important;
    max-height: 50% !important;
    padding: 3% !important;
    display: flex !important;
    justify-content: center !important;
    box-shadow:  0px 10px 15px rgba(0, 0, 0, 0.2) !important;    
}

.frameLogin{
    display: flex !important;
    flex-direction: column !important;
    /* background-color: aqua; */
    
    gap: 50px;
    background-color: azure;
}

.inputLogin{

    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    /* background-color: beige; */
    background-color: blue;
}

.mainStack{
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
    justify-content: center !important;
    text-align: center !important;
}
.childStack{
    display: flex !important;
    justify-content: space-around !important;
}
.custom-textfield{
    display: grid !important;
    text-align: center !important;
    justify-content: center !important;
}
