.mainDashboard{
    margin-left: 240px;
    margin-top: 65px;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px;

}

.custom-button{
    width: 200px !important;
    height: 200px !important;
    background-color: rgb(212, 212, 212) !important;
    transition: transform 0.5s ease !important;
    transition: background-color 0.5s linear !important;
}

.custom-button:hover{
    background-color: rgb(211, 227, 255) !important;
    transform:  scale(1.1);
}
